.List1, .List2 {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-left: 50px; 
    padding-right: 50px;
}


.bold h3 {
    font-size: 36px;
}
.Yourcartname{
    padding-top: 100px;
    color: black;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.Cart-button-section {
    text-align: center;
    padding: 40px;
    justify-content: center;
    padding-left: 0; 
    
}

.Cart-button{
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 16px;
}

.Cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width: 767px) {
    .List1, .List2 {
        justify-content: space-around;
        padding-left: 0;
        padding-right: 0; 
    }

    .Cart-button-section {
        text-align: center;
        padding: 20px;
        justify-content: center;
        align-items: center; 
    }

    .bold h3 {
        font-size: smaller; 
    }

    .Yourcartname {
        margin-top: 40px;
        padding-top: 40px;
        font-weight: 500;
        font-size: 40px;
        color: black;
    }
}
