
.Login-Form{
    height: 550px;
    width: 400px;
    background-color: rgba(8, 92, 61, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

.Login-Form {
    font-family: 'Poppins', sans-serif;
    color: #793636;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.Login-Form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.Login-Label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.Login-Input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgb(2 2 2 / 7%);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}



.Login-Register-Button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

@media(max-width:480px){
    .Login-Form {
        font-family: 'Poppins', sans-serif;
        color: #793636;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
        width: 75%;
        height: 75%;
    }
}
