.List{
    display:flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.bold{
    font-weight: bold;
    font-size: larger;
}

.cart-button {
    text-align: center;
    padding: 20px; 
}

.cart-button button {
    margin: 5px; 
}